.canvas-cantainer{position:relative;height:200px;}
.subcanvs{position:absolute;left:0;top:0;}
.log-blue{padding-left:5px;background-color: #428bca;color:#fff;}
.log-red{padding-left:5px;background-color: #d9534f;color:#fff;}